<div class="container">
  <div class="flex-container-between">

    <div class="">
        <h2>Créez un trip</h2>
        <div class="flex-container">
          <%= link_to "Go !", new_trip_path, id:"btn-go", class:"button" %>
        </div>
    </div>






  </div>
  <br>
  <br>

</div>
