<section class="hero is-large" style="background-size:cover;background-image:url(<%= rails_blob_url(@trip.trip_picture)%>);">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1 has-text-white">
        <%= @trip.title %>
      </h1>
    </div>
  </div>
</section>
