<section class="hero is-light is-bold is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">Créez votre propre itinéraire</h1>
    </div>
  </div>
</section>

  <%= render 'formCreateTripBis', trip: @trip %>
