<div class="container">
  <br><br><br><br>

  <h1>Résultats de la recherche</h1>

  <p>Nombre d'élements listés : <%= @trips.total_count %></p>

  <% @trips.each do |trip| %>
    <div class="row">
      <div class="grid-item col-2">
        <% if trip.trip_picture.attached? %>
           <img src = "<%= rails_blob_url(trip.trip_picture)%>">
        <% else %>
          <img src = "https://images.unsplash.com/photo-1585068026984-52c8cb27ed5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
        <% end %>
      </div>
      <div class="grid-item col-4">
        <p class="poi-name-sm"><%= link_to trip.title, trip %></p>
      </div>

    </div>
    <hr>
  <% end %>

  <br>

  <%= link_to "Retour à l'accueil", root_path %>


</div>
