<section class="section">
  <div class="container">
    <h1 class="title is-1 has-text-centered">Créer un lieu</h1>
  </div>

  <%= render 'formCreatePlacePartner', place: @place %>
  <br>
  <div class="container has-text-centered">
    <%= link_to "Revenir à la liste des lieux", partner_places_path, class:"button" %>
  </div>
</section>
