<div class="profilBanner text-center">
  <p class="profil-title"><%= @user.first_name%></p>
  <p class="profil-title"> Bienvenue cher partenaire </p>
  <br>
</div>
<br>

<div class="container">
  <% if @user == current_user %>
    <div class="">
      <%= link_to 'Éditez votre compte', edit_user_registration_path, class:'button u-full-width' %>
    </div>
  <%end%>
</div>
<br>

<%= render 'showUserTrips' %>
