<%= render 'shared/buttonBackToHome' %>

<div class="container">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
</div>

<%= render 'formEditRegistration' %>

<%= render 'shared/buttonBackToHome' %>
