<br>
<br>
<div class="container">
  <h1>Créer un lieu</h1>
<br>
<br>
<%= render 'formCreatePlace', place: @place %>


  <div>
    <%= link_to "Revenir à la liste des lieux", admin_places_path, class:"button" %>
  </div>

</div>
