<%= render 'placeDetailsAdmin' %>

<section class="section">
  <div class="buttons is-centered">
    <% if isAdmin? %>
      <%= link_to "Éditer le lieu", edit_admin_place_path(@place[:id]), class:"button is-warning" %>
    <% end %>
    <%= link_to "Revenir à l'accueil", trips_path, class:"button" %>
  </div>
</section>
