<div class="container">
  <h3 class="title is-3 has-text-weight-bold has-text-black-bis">Mes itinéraires sauvegardés</h3>
</div>
<br>

<% if @user.saved_trips.length > 0 %>

  <div class="tile is-ancestor wrap-container">
    <% @user.saved_trips.each do |saved_trip| %>
    <%= render 'trips/tripTile', trip: saved_trip.trip  %>
    <% end %>
  </div>

<% elsif @user == current_user %>
<div class="container">
  <p>Vous n'avez pas encore sauvegardé d'itinéraire.</p>
</div>

<% else %>
<div class="container">
  <p><%= @user.first_name%> n'a enregistré aucun itinéraire.</p>
</div>

<% end %>
