<footer class="footer has-background-black">
  <div class="content has-text-centered">
    <strong class="has-text-white">Marivel</strong>
    <p class="has-text-white">réalisé par Roc Avel Développement</p>
    <p class="has-text-white">© 2020</p>
  </div>
</footer>
