<div class = "navbar-top-screen">
  
  <div  class = "brand-nav-container">
    <%=link_to 'MARIVEL', trips_path, class:"brand-small" %>
  </div>

    <% if user_signed_in? %>

      <div style="margin:1%">
          <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class:'navbar-link'  %>
      </div>


  <% else %>
      <div class="flex-container">
        <div class="navbar-item">
          <%= link_to "Se connecter", new_user_session_path, class:"navbar-link" %>
        </div>
        <div class="navbar-item">
          <%= link_to "S'inscrire", new_user_registration_path, class:"navbar-link" %>
        </div>
      </div>
  <% end %>
</div>
  <br>
  <br>
