<section class="hero is-large hero-background">
  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column is-two-thirds-desktop is-full-mobile">
        <h1 class="title has-text-white is-2 has-text-centered">
          Consultez et créez des itinéraires
        </h1>
      </div>

    </div>
  </div>
</section>
