<section class="hero is-large hero-background">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title has-text-white is-1">
        Parcourez les guides et planifiez vos itinéraires
      </h1>
    </div>
  </div>
</section>
