<section class="hero is-large hero-background">
  <div class="hero-body">

  </div>

  <div class="hero-foot">
    <div class="container has-text-centered">
      <h1 class="title has-text-white is-3">
        La plateforme des itinéraires touristiques
      </h1>
      <div class="container">

      </div>
    </div>
  </div>
</section>
