<div class = "jumbotron homepage">
<div class="container">
    <h1 class="display-4 brand" style = "color: white">L'inspiration de vos explorations</h1>
    <a href = "#categories_index" class = "button button-primary">Découvrez nos trips</a>
  </div>
</div>