<div class = "jumbotron homepage">
<div class="container">
    <h1 class="display-4 brand" style = "color: white">L'inspiration de vos explorations</h1>
    <a href = "#categories_index" class = "button button-primary">Découvrez nos trips</a>
    <%= link_to "Créer un trip", new_trip_path, id:"btn-go", class:"button", style: "background-color: white" %>
  </div>
</div>