<section class="section has-background-black">
  <div class="columns">
    <div class="column has-text-centered">
      <%= link_to "Admin des users", admin_users_path, class:"button is-black is-inverted is-outlined"  %>
    </div>
    <div class="column has-text-centered">
      <%= link_to "Admin des itinéraires", admin_trips_path, class:"button is-black is-inverted is-outlined" %>
    </div>
    <div class="column has-text-centered">
      <%= link_to "Admin des catégories", admin_categories_path, class:"button is-black is-inverted is-outlined" %>
    </div>
    <div class="column has-text-centered">
      <%= link_to "Admin des lieux", admin_places_path, class:"button is-black is-inverted is-outlined" %>
    </div>
  </div>
</section>
