<div class="" id = "categories_index">
  <div class="navbar flex-container u-full-width">
    <div class="navbar-item">
      Filtrer par catégorie :
    </div>
    <div class="navbar-item">
      <%= link_to "Roadtrips", category_path(id=1), class:"navbar-link" %>
    </div>
    <div class="navbar-item">
      <%= link_to "À vélo", category_path(id=2), class:"navbar-link" %>
    </div>
    <div class="navbar-item">
      <%= link_to "À pied", category_path(id=3), class:"navbar-link" %>
    </div>
  </div>

  <br>
  <br>
  
</div>
