<div class="tile is-parent is-4">
  <div class="tile is-child box">
    <figure class="image is-5by3">
      <% if place.place_picture.attached? %>
        <%= link_to image_tag(place.place_picture), place_path(place.id) %>
      <% else %>
        <%= link_to image_tag("https://images.unsplash.com/photo-1589596619062-068730a17443?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80", place_path(place.id)) %>
      <% end %>
    </figure>
    <br>
    <p><%= link_to "#{place.name}", place_path(place[:id]), class:"title is-5 has-text-black-bis" %>
    </p>
  </div>
</div>
