<section class='section'>
  <div class="contaienr has-texxt-centered">
    <h1>Editing Specific Content</h1>
    <%= render 'formSpecificContent', specific_content: @specific_content %>
    <br>
    <%= link_to 'revenir à la liste des contenus', admin_specific_contents_path %>
  </div>

</section>
