<section class="section">

  <div class="container has-text-centered">
    <h1 class='title is-1 has-texxt-weight-bold'>Liste des lieux</h1>
    <p>Parcourez la liste ci-dessous et ajouter des lieux à votre itinéraire</p>
    <br>
    <p>Si vous ne trouvez pas ce que vous cherchez, vous avez la possibilité de créer un lieu :</p>
    <%= link_to 'Créer un lieu', new_place_path, class:"button is-outlined is-primary" %>
  </div>
  <br>
  <div class="box">
    <% @places.each do |place| %>

      <div class="columns is-mobile">
        <div class="column">

        </div>
        <div class="column has-text-right">
          <div class="container has-text-left">
            <%= link_to place.name, admin_place_path(place.id), class:"has-text-black" %>
          </div>
        </div>
        <div class="column has-text-left">
          <%= link_to 'Ajouter', admin_trip_waypoint_index_path(place_id: place.id), method: 'post', class:"button is-primary"%>
        </div>
        <div class="column">

        </div>
      </div>

    <% end %>
  </div>

</section>
