* {
  font-family: 'Lora', serif;
}

#brand {
  font-family: 'Raleway', cursive;
}

h1 {
  font-family: 'Raleway', sans-serif;
}
.hero-background {
  background: url('https://images.unsplash.com/photo-1534008724586-bd8c3169293b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80');
  background-size:cover;
}

.hero-user-account {
  background: url('https://images.unsplash.com/photo-1534196271446-c60e47acce71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80');
  background-size: cover;
}

.wrap-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.font-raleway {
  font-family: raleway;
}

trix-toolbar .button_group button.icon,
trix-toolbar .button_group input[type=button].icon {
  display: initial;
}

trix-editor .textarea {
  display: initial;
}


.fas {
color: #0a0a5c;
}

.fa-search-location {
  color: white;
}

.fa-camera-retro {
  color: white;
}

.fit-image {
  object-fit: cover;
  /*border: solid black 1px;*/
  max-height: 120px;
}

.numberCircle {
    width: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    color: white;
    background-color: #0a0a5c;
}

.numberCircleSmall {
    width: 25px;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    color: white;
    background-color: #0a0a5c;
}

.left-image {
  float: left;
  padding: 0 20px 20px 5px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: hsl(171, 100%, 96%);
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#tripMap {
    width: 100%;
    height: 700px;
}

#profileChoice {
  margin: 15px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

#datas {
  position: absolute;
  margin: 15px;
  width: 23%;
  top: 10%;
  bottom: 1%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  overflow-y: scroll;
  font-family: sans-serif;
  line-height: 2em;

}

#tripNav {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  z-index: 999;
}
