* {
  font-family: 'Courier Prime', monospace;
}

h1, #brand {
  font-family: 'Lato', sans-serif;
}
.hero-background {
  background: url('https://images.unsplash.com/photo-1534008724586-bd8c3169293b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80');
  background-size:cover;
}

.hero-user-account {
  background: url('https://images.unsplash.com/photo-1534196271446-c60e47acce71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80');
  background-size: cover;
}

.wrap-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.font-raleway {
  font-family: raleway;
}

trix-toolbar .button_group button.icon,
trix-toolbar .button_group input[type=button].icon {
  display: initial;
}

trix-editor .textarea {
  display: initial;
}


.fa-user-circle, .fa-map-marker-alt, .fa-map-marker-alt, .fa-euro-sign, .fa-tty, .fa-print {
color: #0a0a5c;
}
