.hero-background {
  background: url('https://images.unsplash.com/photo-1534008724586-bd8c3169293b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80');
  background-size:cover;
}

.wrap-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mapboxgl-popup {
  overflow-y: scroll;
  overflow-x: scroll;
  width: 200px;
  height: 300px;
  font: 12px/20px 'Open Sans', sans-serif;
  border-radius: 5px;

  }
.mapboxgl-popup {
  overflow-y: scroll;
  overflow-x: scroll;
  width: 200px;
  height: 300px;
  text-align: center;
  border-radius: 5px;
  }

.font-raleway {
  font-family: raleway;
}

trix-toolbar .button_group button.icon,
trix-toolbar .button_group input[type=button].icon {
  display: initial;
}
