.jumbotron {
    padding-top: 10%;
}
.homepage {
  background: url('https://images.unsplash.com/photo-1534540378968-85a7b8fde19f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60');
  color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.trip_banner {
  color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  text-align: center;
 
}

.jumbotron_trip_text {
  display: inline-block;
  padding: 50px;
  filter: blur(0px);
}

.devise-background {
  background: url('https://images.unsplash.com/photo-1499988921418-b7df40ff03f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 20%;
}

.roadtrip-cat {
  background: url('catBannerPicture');
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.profilBanner {
  background-image: url('PhotoBannerRoadTrip.png');
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 20%;
}

.nav-trip-cat {
  background-color: #d4d1c8;
  opacity: 0.9;

}

.container-sm {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.brand-nav-container {
  padding-bottom: 5%;
}


.flex-container {
  display: flex;
  flex-direction: row;
  padding-top: 3px;
  padding-bottom: 3px;
}

.flex-container-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
}

.flex-container-center {
  display: flex;
  flex-direction: row;
  justify-content : center;
}

.flex-container-between {
  display: flex;
  flex-direction: row;
  justify-content : space-between;
}

.flex-container-around {
  display: flex;
  flex-direction: row;
  justify-content : space-around;
}

.footer-container {
  position: relative;
  left: 0;
  bottom: 0;
  background-color: #1A1A1A;
  color: white;
  padding: 100px;
}

.security-zone {
  background-color: black;
  padding-top: 5%;
}

.btn-margin {
  margin-right: 50px;
  margin-top: 25px;
}

.input-margin {
  margin-right: 50px;
  margin-top: 25px;
}

.icon-margin {
  margin-right: 50px;
  margin-top: 20px;
}

#btn-go {
  color: black;
}

.allTrips-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar-top-screen {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navbar-item {
  margin-right: 25px;
}

.navbar-link {
  font-family: "Raleway";
  font-size: 1em;
  color: #1EAEDB;
  text-decoration: none;
}

.brand {
  font-family: "Raleway";
  font-size: 5em;
  font-weight: bold;
  color: #100000;
  text-decoration: none;
}

.brand-small {
  font-family: "Raleway";
  font-size: 3em;
  font-weight: bold;
  color: #100000;
  text-decoration: none;
}

.trip-title {
  font-family: "Raleway";
  font-size: 2em;
  color: #1EAEDB;
  text-decoration: none;
}

.trip-title-show {
  font-family: "Raleway";
  font-size: 4em;
  color: #1EAEDB;
  text-decoration: none;
}

.poi-name {
  font-family: "Raleway";
  font-size: 2em;
  color: #1EAEDB;
  text-decoration: none;
}

.poi-name-show {
  font-family: "Raleway";
  font-size: 4em;
  color: #1EAEDB;
}

.strong-text {
  font-weight: bold;
}

.profil-title {
  color: white;
  font-size: 5em;
}

.cat-name-show-white {
  color: white;
  font-weight: bold;
  font-size: 5em;
  margin-bottom: 20%;
}

.cat-name-show-black {
  color: black;
  font-size: 5em;
  margin-bottom: 20%;
}

.header.title {
  color: black;
}

.card-trip {
  width: 45%;
  height: auto;
  margin-bottom: 50px;
  margin-right: 25px;
  padding-left: 12px;
  box-shadow: 2px 5px 5px 3px #c4c4c4;
}

.warning-text {
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-decoration: none;
}

.welcome-text {
  color: #100000;
  font-weight: bold;
  font-size: 2em;
}

.notice-message {
  background-color: #1EAEDB;
  color: white;
  text-decoration: none;
}

.fas, .far {
  color: #33C3F0;
 }

.mapboxgl-popup {
  overflow-y: scroll;
  overflow-x: scroll;
  width: 200px;
  height: 300px;
  font: 12px/20px 'Open Sans', sans-serif;
  border-radius: 5px;

  }
.mapboxgl-popup {
  overflow-y: scroll;
  overflow-x: scroll;
  width: 200px;
  height: 300px;
  font: 12px/20px 'Open Sans', sans-serif;
  border-radius: 5px;
  }
.text-center {
  text-align: center;
}

.place_card {
  margin-left: 10px;
  border: 1px solid rgb(179, 175, 175);
  border-radius: 5px;
  padding-left: 10px;
  height: 100%;
  overflow:   scroll;
  
}
.trip_card {
  margin-left: 10px;
  border-radius: 5px;
  padding-left: 10px;
  height: 100%;
  overflow:   scroll;
  
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
