.mapboxgl-popup-content {
  padding:0;

  /* width:250px; */
}

.mapboxgl-popup-content h3 {
  background: white;
  color: black;
  margin:0;
  display:block;
  padding:10px;
  font-weight:700;
}

.mapboxgl-popup-content h4 {
  margin:0;
  display:block;
  padding: 0 10px 0 10px;
  font-weight:400;
}

.mapboxgl-popup-content a {
  margin:0;
  display:block;
  padding: 0 10px 0 10px;
  font-weight: bold;
}

.mapboxgl-popup-close-button {
  color: black;
}
