.mapbox-popup {
  padding: 0;
}
.mapboxgl-popup-content {
  padding: 0 0 0 0;

  /* width:250px; */
}

.mapboxgl-popup-content h3 {
  background:#0a0a5c;
  color: white;
  margin:0;
  display:block;
  padding: 0 5px 0 5px;
  font-weight:700;
}

.mapboxgl-popup-content h4 {
  margin:0;
  display:block;
  font-weight:400;
}

.mapboxgl-popup-content a {
  margin:0;
  display:block;
  padding: 0 0 0 0;
  font-weight: bold;
}

.mapboxgl-popup-close-button {
  color: black;
}
