.grid-container-navbar {
  display: grid;
  grid-template-columns: auto auto auto;
  align-content: center;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.grid-item-navbar {
  align-content: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 15px;
}
