<div class="jumbotron">
  <div class="container">

    <p id="notice"><%= notice %></p>
    <h1 class= "trip-title-show">
      <%= @category.name %>
    </h1>

    <p>
      <strong>Desc:</strong>
      <%= @category.description %>
    </p>

  </div>
</div>
