<div class="allTrips-container">


  <% Trip.where(category_id: @category.id).each do |trip| %>
      <div class="card-trip">

        <div class="card-image">
          <img src="">
        </div>
        <div class="card-content">
          <div class="card-title">
            <%= link_to "#{trip.title}", trip_path(trip[:id]), class:"trip-title" %>
          </div>
          <div class="card-desc">
            <%= trip.description %>
          </div>
          <br>
          <%= link_to "Explorer", trip_path(trip[:id]), class:"button" %>
        </div>

      </div>
  <% end %>

</div>
