<br>
<br>
<br>
<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Join Tag To Places</h1>
<%= form_with model:@join_tag_to_place, local: true do |form| %>
    <% @place_tags.each do |place_tag| %>
      <%= check_box_tag(:place_tag) %>
      <%= label_tag(:place_tag, place_tag.name) %>
    <% end %>
    <% form.submit "Ajouter les tags" %>
<% end %>
</div>


<br>
