<style media="screen">
body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 80px;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
  padding-left: 30px;
}

</style>


<!-- html pour la carte -->

<div id='map'>

    <div class="columns is-mobile is-centered">
      <div class="column is-half">
        <div id="geocoder" class="geocoder"></div>
      </div>
    </div>

</div>



<script>
 mapboxgl.accessToken = 'pk.eyJ1Ijoicm9jcGVsaWNhbiIsImEiOiJjanN3N3lzZXQwN3BqNDNvZmYwM2hybWd6In0.flGOgYQ1ae6VnI00gUoL5A';

  var map = new mapboxgl.Map({
   container: 'map',
   style: 'mapbox://styles/mapbox/streets-v10',
   center: [2.332097, 48.831352], // starting position, Paris coordinates
   zoom: 5
  });

  var geocoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    language: 'fr-FR',
    marker: {
      color: '#0a0a5c'
    },
    mapboxgl: mapboxgl,
    placeholder: ' ',
  })

  document.getElementById('geocoder').appendChild(geocoder.onAdd(map));

// Script pour Directions
/*  map.addControl(
  new MapboxDirections({
  accessToken: mapboxgl.accessToken
  }),
  'top-left'
  );
*/

  // Add geolocate control to the map.
  map.addControl(
    new mapboxgl.GeolocateControl({
    positionOptions: {
    enableHighAccuracy: true
    },
    trackUserLocation: true
    })
  );

  // Add zoom and rotation controls to the map.
  map.addControl(new mapboxgl.NavigationControl());

  var language = new MapboxLanguage();
  map.addControl(language);

</script>
