<section class="section">

  <div class="box has-text-centered">

    <h1 class="title is-1 has-text-weight-bold">Résultats de la recherche</h1>
    <p class = "has-text-weight-semibold">Nombre d'élements listés : <%= @places.length %></p>
  </div>

  <div class="tile is-ancestor wrap-container">
    <% @places.each do |place| %>

      <div class="tile is-parent is-3">

        <div class="tile is-child box">
          <figure class="image is-5by3">
            <% if place.place_picture.attached? %>
               <img src = "<%= rails_blob_url(place.place_picture)%>">
            <% else %>
              <img src = "https://images.unsplash.com/photo-1589596619062-068730a17443?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80">
            <% end %>
          </figure>
          <p class="title">
            <%= link_to "#{place.name}", place_path(place[:id]), class:"title is-4 has-text-primary" %>
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "Retour à l'accueil", root_path, class:"button is-fullwidth is-medium is-light" %>

</section>
