<p id="notice"><%= notice %></p>

<%= render 'POIdetails' %>

<div class="container">
  <div class="flex-container">
    <div class="navbar-item">
      <%= link_to "Éditez le lieu", edit_place_path(@place[:id]), class:"button button-primary" %>
    </div>
    <div class="navbar-item">
      <%= link_to "Revenir aux trips", trips_path, class:"button" %>
    </div>
  </div>
</div>
<br>
<br>
